body {
    background-color: blue; /* Default background color */
    transition: background-color 0.5s ease; /* Smooth transition effect */
}

header{
    height: 100vh;
    background-color: red;
    transition: background-color 0.5s ease;
}

@media only screen and (max-width: 1100px) {  /*  */
    /* Media query for phone size */
    body {
        animation: changeColor 1s forwards; /* Apply the keyframe animation */
    }
    header{
        animation: headerCcolor 1s forwards;
    }
}



@keyframes changeColor {
    to {
        background-color: green; /* Target background color for phone size */
    }
}

@keyframes headerCcolor {
    to {
        background-color: grey;
        }
    }
